Binaries
DerivedDataCache
Intermediate
Saved
Plugins/*
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

/Build/*
!/Build
/Build/*
!/Build/Android/
/Build/Android/res
/Build/Android/src
/Build/Android/*.prop*
.idea